* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.error {
    color: #C20302;
    font-weight: 600;
}

.main-heading {
    font-size: 20px;
}

.form-wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-wrap .form-box {
    width: 40%;
    padding: 30px;
}

.form-wrap .form-box .form-control {
    height: 50px;
    margin-bottom: 16px;
    border: 1px solid #bbbabb;
    padding-left: 16px;
    width: 100%;
    font-size: 14px;
    border-radius: 6px;
}

.form-wrap .form-box .form-control:focus {
    outline: 0;
}

.btn {
    cursor: pointer;
    border: 0;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 6px;
}

.btn-primary {
    background-color: #642166 !important;
    color: #ffffff;
    border: 0 !important;
}

.form-wrap .form-box .btn {
    width: 100%;
    height: 50px;
    font-weight: 600;
}

/*Start Design For Landing page*/
.landing-page-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.user-profile-popup {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-box {
    width: 40%;
    padding: 40px;
    background-color: #ededed;
    border-radius: 10px;
    position: relative;
}

.profile-box div {
    height: 40PX;
    background: #ffffff;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.user-profile-popup span {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
}

.user-profile-popup .edit-icon {
    position: absolute;
    top: 14px;
    right: 14px;
    color: #000000;
    cursor: pointer;
    font-size: 20px;
}

.landing-page-section .header-wrap {
    height: 40px;
    background-color: #642166;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}

.landing-page-section .header-wrap .left {
    width: 20%;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 16px;

}

.landing-page-section .header-wrap .left span {


    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
}

.landing-page-section .header-wrap .center {
    width: 60%;
}

.landing-page-section .header-wrap .center .form-control {
    height: 30px;
    padding-left: 16px;
    width: 100%;
}

.landing-page-section .header-wrap .center .form-control:focus {
    outline: 0;
}

.landing-page-section .header-wrap .right {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 16px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
}

.chat-section {
    display: flex;
}

.chat-section .sidebar {
    width: 20%;
    background-color: #642166;
    border-top: 1px solid #ffffff;
    height: calc(100vh - 40px);
    position: fixed;
    top: 40px;
}

.chat-section .sidebar .logout {
    width: 20%;
    position: fixed;
    bottom: 0;
}

.chat-section .sidebar .logout button {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    color: #642166;
    font-weight: 600;
    font-size: 16px;
    border: 0;
    text-align: center;
    cursor: pointer;
}

.chat-section .sidebar>.username {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
}

.chat-section .sidebar .group-parent {
    padding: 16px;
}

.chat-section .sidebar .group {
    margin-bottom: 16px;
}

.chat-section .sidebar .group .group-heading {
    position: relative;
    color: #ffffff;
}

.chat-section .sidebar .group .group-heading span.add-icon {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.chat-section .sidebar .group .group-heading p {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 12px;
}

.chat-section .sidebar .group .group-heading p span {
    font-size: 24px;
    margin-right: 0px;
}

.chat-section .sidebar .group .group-list {
    display: none;
}

.chat-section .sidebar .group .group-list.show {
    display: block;
}

.chat-section .sidebar .group .group-list .group-name {
    display: flex;
    align-items: center;
    color: #ffffff;
    margin-bottom: 2px;
    font-size: 14px;
    cursor: pointer;
}
.chat-section .sidebar .group .group-list .group-name.active {
    background: #1164a3;
}

.chat-section .sidebar .group .group-list .group-name .icon span {
    font-size: 20px;
    margin-right: 6px;
}


.chat-section .chat-body {
    width: calc(100% - 20%);
    margin-left: 19%;
}

.chat-header {
    width: 100%;
    height: 50px;
    padding: 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ededed;
}

.chat-header .img {
    width: 30px;
    height: 30px;
    margin-right: 16px;
}

.chat-header .img img {
    width: 100%;
    height: 100%;
}

.chat-header .text {
    font-weight: 600;
}

.chat-footer {
    width: calc(100% - 20%);
    position: fixed;
    right: -16px;
    bottom: 16px;
    display: flex;

}

.chat-footer .input-chat {
    width: 95%;

}

.chat-footer .input-chat .form-control {
    height: 50px;
    margin-bottom: 16px;
    border: 1px solid #bbbabb;
    padding-left: 16px;
    width: 100%;
    font-size: 14px;
    border-radius: 6px;
}

.chat-footer .input-chat .form-control:focus {
    outline: 0;
}

.send-button {
    position: absolute;
    right: 120px;
    top: 16px;
    cursor: pointer;
}

/* Start Design Create group popup */
.create-group-popup {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-group-popup .create-group-popup-box {
    width: 40%;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 6px;
    position: relative;
}

.close-popup {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
    font-weight: 600;
}

.create-group-popup .create-group-popup-box .body button {
    margin-top: 16px;
    width: 100%;
}

.create-group-popup .create-group-popup-box .footer {

    margin-top: 6px;
}

.create-group-popup .create-group-popup-box .footer button {
    display: block;
    width: 100%;
    background: transparent;
    color: #642166;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #642166;
    border-radius: 6px;
}

/* End Design Create group popup */

/* Start Design Create UserPopup*/
.create-user-popup {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-user-popup .create-user-popup-box {
    width: 50%;
    height: 80%;
    background-color: #ededed;
    padding: 40px;
    border-radius: 6px;
    position: relative;
}

.create-user-popup .create-user-popup-box .search-user {
    position: relative;
}

.create-user-popup .create-user-popup-box .search-user span {
    position: absolute;
    right: 16px;
    top: 6px;
}

.create-user-popup .create-user-popup-box .user-list {
    margin: 30px 0;
    max-height: 400px;
    overflow-y: auto;
}

.create-user-popup .create-user-popup-box .user-list .user-box {
    width: 100%;

    background-color: #ffffff;
    margin-bottom: 6px;
    padding: 6px 16px;
    cursor: pointer;
}

/* End Design Create UserPopup*/

.chat-section .msg-section {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.chat-section .msg-section .msg-box {
    width: auto;
    max-width: 300px;
    height: auto;
    padding: 8px 16px;
    min-height: 75px;
    background: #efefef;
    margin-bottom: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.chat-section .msg-section .msg-box .name {
    font-size: 16px;
    font-weight: 600;
}
.chat-section .msg-section .msg-box .message {
    font-size: 14px;
}